fastapi
uvicorn[standard]
python-dotenv
python-multipart
streamlit
requests
pandas
pydantic
sqlmodel

langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-text-splitters
chromadb
pypdf

selenium
pytest
httpx